# Directories
.utmp/
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Rr]ecordings/

# Logs and Crash Reports
*.log
sysinfo.txt
mono_crash.*

# IDE and Project Files
.vs/
.gradle/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.slnx
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Generated Meta Files
*.pidb.meta
*.pdb.meta
*.mdb.meta
*.blend1
*.blend1.meta

# JetBrains Rider
/[Aa]ssets/Plugins/Editor/JetBrains*
*.DotSettings.user

# Builds
*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app
crashlytics-build.properties

# Addressables and Server Data
/ServerData
/[Aa]ssets/StreamingAssets/aa*
/[Aa]ssets/AddressableAssetsData/link.xml*
/[Aa]ssets/Addressables_Temp*
/[Aa]ssets/AddressableAssetsData/*/*.bin*

# Visual Scripting and Cache
/[Aa]ssets/Unity.VisualScripting.Generated/
/[Aa]ssets/[Ii]nit[Tt]est[Ss]cene*.unity*
/[Aa]ssets/[Ss]ceneDependencyCache*